<h2 class="text-center pt-2 pb-2">Buy <%= @product.name %> <i class="fas fa-shopping-cart"></i></h2>

<%# <div class="card-product-show"> %>
<div class="container-form text-center d-flex justify-content-center p-4">

  <%# # card-product-infos-show %>

  <div class="text-center mr-1 pb-2">
    <% if @product.photo.key%>
      <%= cl_image_tag @product.photo.key, height: 300, width: 400, crop: :fill, class:"pb-4 rounded" %>
    <%else%>
      <%# <img class="mw-100" src="https://images.unsplash.com/photo-1547056961-3c25e9140b05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpY2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60" /> %>
     <div class="d-flex justify-content-center pb-2">
      <div class="main-card mt-2 mb-2 text-center pt-4 pb-4" style="font-size: 36px; width: 200px; height:200px; border-radius: 8px; text-align: center; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1547056961-3c25e9140b05?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJpY2tzfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60)">
        No image uploaded
      </div></div>
    <%end%>
    <div>
  </div>
  <div class="text-center">
    <p><strong>Unit price:</strong> $<%=@product.unit_price%> </p>
    <p><strong><%=@product.quantity%>available</p></strong>
    <p><strong>Description:</strong> <%=@product.description%></p>
    <p class="pb-2"><strong>Contact:</strong> <%=@product.user.email%></p>
    <div>
      <%= simple_form_for @order, url:product_orders_path(@product.id,current_user) do |f| %>
        <%= f.input :quantity, required: true, class: "pt-4"%>
        <div class="text-center">
          <% if user_signed_in? && (current_user != @user)%>
            <%= f.button :submit, value: "Buy!", class: "btn btn-success m-4" %>
          <% elsif user_signed_in? == false %>
            <%=link_to "Sign in to buy!", new_user_session_path, class: "btn btn-success m-4"%>
          <%end%>
      <% end %>
      <%=link_to "Back", :back, class: "btn btn-danger m-4"%>
    </div>
  </div>
</div>



<%# <div class="text-center">
<%=link_to "Back", :back, class: "btn btn-danger m-4"%>
<%# <% if user_signed_in? && (current_user != @user) %>
  <%# <%=link_to "Buy!", product_orders_path(@product,current_user), method: :post, class: "btn btn-success m-4"%>
<%# <% elsif user_signed_in? == false %>
  <%# <%=link_to "Sign in to buy!", new_user_session_path, class: "btn btn-success m-4"%>
<%# <%end%>
<%# </div> %>
